body {
    text-align: center;
}
#board {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    font-size: xx-large;
}
td { 
    border: 3px solid black;
    padding: 15px;
    margin: 0px;   
    min-width: 50px;
}
.open-cell:hover {
    background-color: #0066ff;
}
td.col1 {
    border-left: 0px;
}
td.col3 {
    border-right: 0px;
}
td.row1 {
    border-bottom: 0px;
}
td.row3 {
    border-top: 0px;
}
